.navbar-collapse {
  justify-content: flex-end;
}
.nav-link {
  text-transform: capitalize;
}
.link-navbar {
  margin: 0.2rem;
}
.active {
  border: 1px solid white;
}
.btn:focus {
  box-shadow: none;
}