.form-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  margin: 3rem auto;
  width: auto;
  min-width: 15rem;
  max-width: 30rem;
}

.input-posts {
  margin: 0.2rem;
}